body{

}
header{
    font-family: Arial;
}

.page-name{
    font-family: Arial;
    font-size: 30px;
    display: inline;
}

p{
    font-family: Arial;
}


ul{

}

.navigation{
}

.nav-page{
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

nav li {
    display: inline-flex;
}

.about-me{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;

}